# IntelliJ IDEA
.idea/
*.iml

#conexion a la base de datos
#git update-index --assume-unchanged src/com/ipesapinturas/utils/DatabaseConnection.java
#¿Qué hace? Le dice a Git: "Oye, haz de cuenta que este archivo no ha cambiado, ignora mis modificaciones locales".

#Si en el futuro quieres volver a subir cambios de ese archivo: Solo debes revertir el comando ejecutando:
#git update-index --no-assume-unchanged src/com/ipesapinturas/utils/DatabaseConnection.java
# Archivos compilados
#git update-index --assume-unchanged run.bat
bin/
out/
target/

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Configuración del sistema
.DS_Store
Thumbs.db

# Recibos generados por la aplicación
recibos/

# Archivos de respaldo
*.bak

# Variables de entorno
.env

# Base de datos local (si contiene datos de pruebas)
*.db
*.sqlite
*.sqlite3